<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lashly.dao.CollectionRecordDao">

  <sql id="baseColumn">
    id, file_name, mongo_id, create_time, update_time
  </sql>

  <resultMap id="baseResultMap" type="org.lashly.domain.dos.CollectionRecordDo">
      <id column="id" property="id"/>
      <result column="file_name" property="fileName"/>
      <result column="mongo_id" property="mongoId"/>
      <result column="create_time" property="createTime"/>
      <result column="update_time" property="updateTime"/>
  </resultMap>

  <insert id="saveCollectionRecord" parameterType="org.lashly.domain.dos.CollectionRecordDo">
      insert into collection_record(file_name, mongo_id)
      values(#{fileName, jdbcType=VARCHAR}, #{mongoId, jdbcType=VARCHAR})
  </insert>

    <select id="findCollectionRecords" resultMap="baseResultMap">
        select * from collection_record
        order by create_time desc
        limit #{pageNumber, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
    </select>

</mapper>