<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lashly.mapper.CollectionRecordMapper">

  <sql id="baseColumn">
    id, file_name, mongo_id, state, create_time, update_time
  </sql>

  <resultMap id="baseResultMap" type="org.lashly.domain.dos.CollectionRecordDo">
      <id column="id" property="id"/>
      <result column="file_name" property="fileName"/>
      <result column="mongo_id" property="mongoId"/>
      <result column="state" property="state"/>
      <result column="create_time" property="createTime"/>
      <result column="update_time" property="updateTime"/>
  </resultMap>
  
  <resultMap id="displayResultMap" type="org.lashly.domain.vos.CollectionRecordVo">
      <id column="id" property="id"/>
      <result column="file_name" property="fileName"/>
      <result column="mongo_id" property="mongoId"/>
      <result column="state" property="state"/>
      <result column="create_time" property="createTime"/>
  </resultMap>

  <insert id="saveCollectionRecord" parameterType="org.lashly.domain.dos.CollectionRecordDo">
      insert into collection_record(file_name, mongo_id, state)
      values(#{fileName, jdbcType=VARCHAR}, #{mongoId, jdbcType=VARCHAR}, #{state, jdbcType=CHAR})
  </insert>

    <select id="findCollectionRecords" resultMap="displayResultMap">
        select id, file_name, mongo_id, state, create_time 
        from collection_record
        order by id desc
        limit #{pageNumber, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
    </select>
    
    <select id="countCollectionRecords" resultType="java.lang.Integer">
        select count(*) from collection_record
    </select>

</mapper>